
.container {
    border: ridge;
    padding: 39px;
    margin-top:1.5em;
}

.col-left{
    width:80%;

}

.col-left input,select {
    display: block;
    margin-top: 1em;

}

/*.table tr {*/
    /*/!*border: ridge;*!/*/
    /*border-collapse: collapse;*/
}
