
.container {
    border: ridge;
    padding: 30px;
    margin-top:1.5em;
    height:200px


}

.col-left{
    width:80%;


}

.col-left input, .col-left select {
    display: block;
    margin-top: 1em;

}

/*.table tr {*/
    /*border: ridge;   */
    /*border-collapse: collapse;*/
/*}*/

