<!doctype html>
<html>
<head>
<style>
p.one {
    border-style: ridge;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 300px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    
    }
    
p.two {
    border-style: ridge;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
} 
    

</style>
</head>


<body>
<p class="one">This is heading.</p>
<p class="two">A ridge border.</p>
</body>
</html>

<!-- testing -->
