<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/host.css">
</head>

<body>

<div class="container">
    <div class="col-left">
        <h3>添加主机</h3>
        <h6 style="color: red">{{ status }}</h6>
        <form action="/app/host/" method="post">
            <p><input type="text" name="hostname" placeholder="hostname"></p>
            <p><input type="text" name="ip" placeholder="ip"></p>
            <p>
                <select name="group">
                    <option selected="selected">请选择</option>
                    {% for item in group %}
                    <option value="{{ item.id }}">{{ item.group_name}}</option>
                    {% endfor %}
                </select>
            </p>
            <p><input type="submit" value="添加"></p>

        </form>
    </div>
</div>


<div class="container">

    <h3>主机列表</h3>
    <table border="1">
      <tr>
          <th>主机名</th>
          <th>IP</th>
          <th>所属用户组</th>
      </tr>
      {% for item in data %}
          <tr>
              <td>{{item.host_name}}</td>
              <td>{{item.ip_address}}</td>
              <td>{{item.user_group.group_name}}</td>
          </tr>
      {% endfor %}

    </table>

</div>
</body>
</html>















